* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Goldman", cursive;
  background-image: url('./img/hacker.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed; /* Hiermee blijft de navbar bovenaan zichtbaar, zelfs bij scrollen */
  top: 0;
  left: 0;
  z-index: 999; /* Zorgt ervoor dat de navbar bovenop andere elementen wordt weergegeven */
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
  font-weight: bold;
}

nav a {
  color: white;
  text-decoration: none;
}

nav img {
  width: 5vw;
}

section {
  width: 100%;
  padding: 5rem; /* Voeg wat ruimte toe aan de boven- en onderkant van de secties */
  text-align: center; /* Centreer de tekst in het midden van de secties */
}

footer {
  background-color: #00a8c7;
  height: 5vh;
  display: flex;
  justify-content: center; /* Centreer de tekst in de footer */
  align-items: center; /* Centreer de tekst verticaal in de footer */
  position: absolute; /* Hiermee blijft de footer onderaan de pagina, zelfs bij weinig inhoud */
  bottom: 0;
  left: 0;
  width: 100%;
}
